/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #7E8398;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem; /* Add spacing between buttons */
  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
}

.button {
  margin: 0 0.5rem; /* Optional: Add spacing between buttons for smaller screens */
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column; /* Stack buttons vertically on very small screens */
    gap: 0.5rem;
  }
}